/**************************/
/* GLOBAL RESET  */
/**************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/**************************/
/**************************/
/* RE-USABLE COMPONENTS   */
/**************************/
/**************************/




/**************************/
/* HEADER */
/**************************/
.header-logo-nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 3rem;
}


/**************************/
/* NAVIGATION */
/**************************/


/**************************/
/* BODY */
/**************************/
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
